[Desktop Entry]
Name=Markite
GenericName=Markdown Editor
Exec=markite %f
Icon=io.github.otonm.markite
Type=Application
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=markite
Keywords=markdown;md;editor;preview;
